{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ bug.title }}</h2>
        <div class="content">
            <p>{{ bug.description }}</p>
        </div>
        <div class="content">
            <h3>Contributors</h3>
            <ul>
                {% for contributor in bug.contributors %}
                    <li class="list-group-item">
                        {{ contributor.username }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endblock %}